* {
  padding: 0;
  margin: 0;
}

:root {
    --blizzyBlack: #000;
    --glowGrapefruit: #f3645e;
    --mintGreen: #e0f5f4;
    --icyBlue: #8298d5;
    --glowyPeach: #f9b28e;
    --tizzyTan: #e6e3de;
    --whiteScale: rgba(255, 255, 255, 0.76);
    --pureWhite: #ffffff;
    --shadowColor: rgba(0, 0, 0, .2);
    --shadowColorTwo: rgba(255, 255, 255, .5);
}

.dashboard-main-div {
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--tizzyTan);
  background-size: 3%;
  font-size: 26px;
  font-weight: 300;
  font-variant: all-petite-caps;
  overflow: hidden !important;
}

/* .dashboard-header-div {
  height: 100%;
  background-color: lavender;
} */

.dashboard-deck-div {
  height: 15vh;
  overflow: hidden !important;
}

.cube-main-div {
  /* display: flex;
  flex-direction: row; */
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  height: 70vh !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-container {
  width: 400px;
  height: 350px;
  position: absolute;
  margin-left: -150px;
  margin-top: -90px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.style-dad-gif {
  height: 350px;
  width: 400px;
  border-radius: 2rem;
}

/* styling buttons */

.navigate-btn {
  margin-top: 3%;
  height: 2.5rem;
  width: 300px;
  border-radius: 0.5rem;
  background-color: lightgrey;
  border: none;
  box-shadow: 1px 2px 5px 5px var(--icyBlue);
  cursor: pointer;
  font-variant: all-small-caps;
  font-size: 20px;
  font-variant: all-small-caps;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  font-family: IBM Plex Mono,Lucida Console,Monaco,"monospace";
  color: var(--blizzyBlack);
}

.btn-two {
  width: 150px !important;
}

.navigate-btn:hover {
  /* text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s; */
  box-shadow: 1px 2px 10px 5px var(--glowGrapefruit);
  color: var(--pureWhite);
  cursor: pointer;
}

.style-solo-btn {
  margin-top: 40px;
}

@media (max-width: 1200px) and (min-width:701px) {

  .dashboard-main-div {
    height: 85vh;
    font-size: 26px;
    font-weight: 300;
    font-variant: all-petite-caps;
    overflow-y: scroll !important;
  }

  .dashboard-deck-div {
    height: 15vh;
    overflow: scroll !important;
    margin-top: 2.5%;
    margin-bottom: -2%;
  }

  .cube-main-div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
  }

    .swiper-container {
      width: 600px;
      height: 450px;
      position: absolute;
      margin-left: -150px;
      margin-top: -5px;
      margin-bottom: 4%;
  }

    .style-dad-gif {
      width: 600px;
      height: 450px;
  }

  .style-solo-btn {
    display: none !important;
  }
}


@media (max-width: 700px) {

  .dashboard-main-div {
    height: 85vh;
    font-size: 26px;
    font-weight: 300;
    font-variant: all-petite-caps;
    overflow-y: scroll !important;
  }

  .dashboard-deck-div {
    height: 15vh;
    margin-top: 5%;
    margin-bottom: -3%;
    overflow: scroll !important;
  }

  .cube-main-div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
  }

    .swiper-container {
      width: 350px;
      height: 300px;
      position: absolute;
      margin-left: -150px;
      margin-top: -5px;
      margin-bottom: 4%;
  }

    .style-dad-gif {
      width: 350px;
      height: 300px;
  }

  .style-solo-btn {
    display: none !important;
  }
    
}

@media (max-width: 400px) {

  .dashboard-deck-div {
    margin-top: 5%;
    margin-bottom: -12%;
    overflow: scroll !important;
  }

  .cube-main-div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
  }

    .swiper-container {
      width: 350px;
      height: 300px;
      position: absolute;
      margin-left: -150px;
      margin-top: -3px;
      margin-bottom: 4%;
  }

    .style-dad-gif {
      width: 350px;
      height: 300px;
  }

  .style-solo-btn {
    display: none !important;
  }
    
}

@media (max-width: 360px) {

  .dashboard-deck-div {
    margin-top: 5%;
    margin-bottom: -5%;
    overflow: scroll !important;
  }

  .cube-main-div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
  }

    .swiper-container {
      width: 250px;
      height: 250px;
      position: absolute;
      margin-left: -150px;
      margin-top: -5px;
      margin-bottom: 4%;
  }

    .style-dad-gif {
      width: 250px;
      height: 250px;
  }

  .style-solo-btn {
    display: none !important;
  }
    
}