* {
  padding: 0;
  margin: 0;
}

.dashboard-main-div {
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  background-color: #e6e3de;
  /* background-color: #c1a37f ; */
  /* background-image: url('../../assets/header4.png'); */
  /* background-size: cover; */
  background-size: 3%;
  /* background-repeat: repeat-x; */
  font-size: 26px;
  font-weight: 300;
  font-variant: all-petite-caps;
  overflow: hidden !important;

  
}

/* .dashboard-header-div {
  height: 100%;
  background-color: lavender;
} */

.dashboard-deck-div {
  /* background-color: purple; */
  height: 15vh;
  overflow: hidden !important;
}

.cube-main-div {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: row;
}

.swiper-container {
  width: 400px;
  height: 350px;
  position: absolute;
  /* left: 50%; */
  /* top: 50%; */
  margin-left: -150px;
  margin-top: -90px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.style-dad-gif {
  height: 350px;
  width: 400px;
  border-radius: 2rem;
}

/* styling buttons */

.navigate-btn {
  margin-top: 3%;
  height: 2.5rem;
  width: 300px;
  border-radius: 1rem;
  /* background-color: tan; */
  background-color: lightgrey;
  border: none;
  box-shadow: 1px 2px 5px 5px #8298d5;
  cursor: pointer;
  font-variant: all-small-caps;
  font-size: 20px;
  font-weight: bolder;
}

.btn-two {
  width: 150px !important;
}

.navigate-btn:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  box-shadow: 1px 3px 5px 8px #f3645e;
}

.style-solo-btn {
  margin-top: 40px;
}

@media (max-width: 1200px) and (min-width:701px) {

  .dashboard-main-div {
    height: 85vh;
    font-size: 26px;
    font-weight: 300;
    font-variant: all-petite-caps;
    overflow-y: scroll !important;
  }

  .dashboard-deck-div {
    height: 15vh;
    overflow: scroll !important;
  }

  .cube-main-div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
      /* flex-wrap: row; */
  }

    .swiper-container {
      width: 600px;
      height: 450px;
      position: absolute;
      margin-left: -150px;
      margin-top: -5px;
      margin-bottom: 4%;
  }

    .style-dad-gif {
      width: 600px;
      height: 450px;
  }
    
}



@media (max-width: 700px) {

  .dashboard-main-div {
    height: 85vh;
    font-size: 26px;
    font-weight: 300;
    font-variant: all-petite-caps;
    overflow-y: scroll !important;
  }

  .dashboard-deck-div {
    height: 15vh;
    overflow: scroll !important;
  }

  .cube-main-div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-direction: column;
  }

    .swiper-container {
      width: 350px;
      height: 300px;
      position: absolute;
      margin-left: -150px;
      margin-top: -5px;
      margin-bottom: 4%;
  }

    .style-dad-gif {
      width: 350px;
      height: 300px;
  }
    
}