* {
    padding: 0;
    margin: 0
}

.home-main-div {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    justify-content: flex-end;
    align-items: baseline;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/landingPage.png');
    background-size: cover;
}

.enterWorldBtn {
    margin-top: 30%;
    margin-right: 10%;
    height: 3rem;
    width: 350px;
    border-radius: 0.5rem;
    /* background-color: tan; */
    background-color: #c1a37f;
    /* background-color: #e6e3de; */
    border: none;
    box-shadow: 1px 2px 5px 5px #f3645e;
    cursor: pointer;
    font-size: 24px;
    font-variant: all-small-caps;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    font-family: IBM Plex Mono,Lucida Console,Monaco,"monospace";
    color: #000;
}

.enterWorldBtn:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    box-shadow: 1px 2px 5px 5px #8298d5;
    color: #fff;
}

@media (max-width: 1500px) and (min-width:1400px) {
    .home-main-div {
        background-size: 1450px 900px;
    }    
}

@media (max-width: 1230px) and (min-width:701px) {
    .home-main-div {
        background-size: contain;
    }    
}

@media (max-width: 700px) {
    .home-main-div {
        justify-content: center !important;
        align-items: center !important;
    }

    .enterWorldBtn {
        margin-top: 15% !important;
        margin-right: 2% !important;
    }
}


  