* {
    padding: 0;
    margin: 0;
}

:root {
    --blizzyBlack: #000;
    --glowGrapefruit: #f3645e;
    --mintGreen: #e0f5f4;
    --icyBlue: #8298d5;
    --glowyPeach: #f9b28e;
    --tizzyTan: #e6e3de;
    --whiteScale: rgba(255, 255, 255, 0.76);
    --pureWhite: #ffffff;
    --shadowColor: rgba(0, 0, 0, .2);
    --shadowColorTwo: rgba(255, 255, 255, .5);
}

.navbar-main-div {
    width: 100%;
    height: 15vh;
    background-image: url('../../assets/header4.png');
    background-size: cover;
    background-size: contain;
    background-size: 3%;
    justify-content: center;
    align-items: center;
    font-variant: all-small-caps;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    font-family: IBM Plex Mono,Lucida Console,Monaco,"monospace";
}

.navbar-main-div:hover {
    background-image: url('../../assets/header8.png');
    background-size: 100%;
    justify-content: center;
    align-items: center;
}

.navbar-sub-div {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: var(--blizzyBlack);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: var(--pureWhite);
    display: none;
}

.navbar-logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: var(--pureWhite);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.menu-div:hover {
    height: 15vh;
}

.navbar-main-ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: var(--pureWhite);
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

.navbar-sub-div.black ul {
    background: var(--blizzyBlack);
}

.nav-item {
    display: inline-block;
    padding: 16px 40px;
    color: var(--blizzyBlack);
}

.navlink-style {
    color: var(--pureWhite);
    font-size: 38px;
    font-variant: all-petite-caps;
    text-decoration: none;
}

.navlink-style:hover {
    color: var(--pureWhite);
    text-decoration: underline var(--icyBlue);
}

.logo-style {
    color: var(--pureWhite);
    font-size: 26px;
    font-weight: 600;
    font-variant: all-petite-caps;
    text-decoration: none !important;
}

.logo-style:hover {
    color: var(--pureWhite);
    text-decoration: none !important;
}

@media (max-width: 800px) {

    .navbar-logo {
        display: none;
    }
    .navlink-style {
        font-size: 30px;
    }

    .navbar-main-div:hover {
        background-image: url('../../assets/header8.png');
        background-size: contain;
        background-size: 300%;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 500px) {

    .navbar-logo {
        display: none;
    }
    .navlink-style {
        font-size: 22px;
    }

    .navbar-main-div:hover {
        background-image: url('../../assets/header8.png');
        background-size: contain;
        background-size: 300%;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 420px) {

    .navbar-logo {
        display: none;
    }
    
    .navlink-style {
        font-size: 16px;
    }

    .navbar-main-div:hover {
        background-image: url('../../assets/header8.png');
        background-size: contain;
        background-size: 300%;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 360px) {

    .navbar-logo {
        display: none;
    }
    .navlink-style {
        font-size: 10px;
    }

    .navbar-main-div:hover {
        background-image: url('../../assets/header8.png');
        background-size: contain;
        background-size: 500%;
        justify-content: center;
        align-items: center;
    }
}



