* {
    padding: 0;
    margin: 0;
}

.navbar-main-div {
    width: 100%;
    height: 15vh;
    background-image: url('../../assets/header2.png');
    background-size: cover;
    background-size: contain;
    background-size: 3%;
    justify-content: center;
    align-items: center;
}

.navbar-sub-div {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

.navbar-logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.menu-div:hover {
    /* background-color: #000; */
    height: 15vh;
    /* background-color: #e6e3de; */
    background-color: #f3645e;
}

.navbar-main-ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

.navbar-sub-div.black ul {
    background: #000;
}

.nav-item {
    display: inline-block;
    padding: 16px 40px;
    color: #000;
}

.navlink-style {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    font-variant: all-petite-caps;
    text-decoration: underline tan;
}

.navlink-style:hover {
    color: #fff;
    text-decoration: line-through #8298d5;
}

.logo-style {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    font-variant: all-petite-caps;
    text-decoration: none !important;
}

.logo-style:hover {
    color: #fff;
    text-decoration: none !important;
}



